* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.splash-screen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: whitesmoke;
	transition: 1s;
  }
  
.header {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	text-align: center;
	font-size: 3em;
}
  
.message {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}
  
.message.active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}
  
.message.fade {
	transition: ease-in-out 0.5s;
}

header{
    padding: 10px 0;
    background-color: white;

}
header h1{
    text-align: center;
    color: #24272E;
}

body{
    background-color: dimgray;
	gap : 10px
}

h2{
	text-align: center;
}
button{
	margin: auto;
	display: block;
	column-gap: 10px;
	background-color: rgb(rgb(226, 194, 194));
}